@font-face{
    font-family: DigitalVibes;
    src: url(fonts/Cormorant-Light.ttf);
}

@font-face{
    font-family: ChillVibes;
    src: url(fonts/UnicaOne-Regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: #93C572;
    width: 100%; 
    padding: 8px;
    box-sizing: border-box; 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon-stars {
    width: 40px; /* Adjust the width to make the SVG larger */
    height: auto; /* Keeps the aspect ratio intact */
    fill: white; /* Ensure the fill color is visible against the background */
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.socials {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}

.git .linked .resume {
    height: 10px;
    width: auto;
}

img {
    height: 100px;
}

h1{
    font-family: ChillVibes;
    color: white;
}

h2{
    font-family: ChillVibes;
    color: #845EC2;
}

p{
    font-family: DigitalVibes;   
    color: #5d6063;
}

.tunetwin, .eDNA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

svg{
    display: flex;
    max-width: 100%; /* Limits the SVG width to the container's width */
    height: auto;
}