@font-face{
    font-family: DigitalVibes;
    src: url(fonts/Cormorant-Light.ttf);
}

@font-face{
    font-family: ChillVibes;
    src: url(fonts/UnicaOne-Regular.ttf);
}

.header {
    background-color: #93C572;
    width: 100%; /* Make the header stretch the full width */
    padding: 15px 0; /* Optional: Add some padding for spacing */
    box-sizing: border-box; /* Include padding in the element's total width */
    text-align: center; /* Optional: Center text within the header */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.icon{
    display: flex;
    height: 20px;
    width: auto;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

img {
    height: 100px;
}

h1{
    font-family: ChillVibes;
    color: black;
}

h2{
    font-family: ChillVibes;
    color: #845EC2;
}

p{
    font-family: DigitalVibes;   
    color: #5d6063;
}

.tunetwin, .eDNA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

svg{
    display: flex;
    max-width: 100%; /* Limits the SVG width to the container's width */
    height: auto;
}